---
import HeroSection from '../components/HeroSection.astro';
import FirstSection from '../components/FirstSection.astro';
import SecondSection from '../components/SecondSection.astro';
import ThirdSection from '../components/ThirdSection.astro';
import FourthSection from '../components/FourthSection.astro';
import FifthSection from '../components/FifthSection.astro';
import BuyingSection from '../components/BuyingSection.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import SixthSection from '../components/SixthSection.astro';
import Fog from '../components/Fog.astro';
---

<Layout title="Cthulhu | the cosmic abyss">
  <HeroSection />
  <Fog />
  <main>
    <FirstSection />
    <Fog />
    <SecondSection />
    <Fog />
    <ThirdSection />
    <Fog />
    <FourthSection />
    <Fog />
    <FifthSection />
    <Fog />
    <SixthSection />
    <Fog />
    <BuyingSection />
    
  </main>
  <Footer/> 
</Layout>